SUBSYSTEMS=="usb", ACTION=="add", KERNEL=="sd*", ATTR{partition}=="?", RUN+="/root/automount.sh add %k"
SUBSYSTEMS=="block", ACTION=="remove", KERNEL=="sd*", ENV{DEVTYPE}=="partition", RUN+="/root/automount.sh remove %k"
